[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "sdr-console-frontend"

[services.healthcheck]
path = "/"
timeout = 100
interval = 30
