[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "sdr-console-backend"

[services.healthcheck]
path = "/"
timeout = 100
interval = 30
